body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #ecf0b2;

}
.form-input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  flex: 1;
  padding: 15px;
  font-size: 16px;
}
.section {
  background-color: hsl(156, 68%, 52%);
  padding-top: 50px;
  outline: 1px solid rgb(12, 12, 12);
  box-shadow:
      0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
}
 .form-wrap {
  text-align: left;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  outline: 1px solid rosybrown;
} 

.gallery {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.photo-card > a {
  display: block;
  height: fit-content;
  line-height: 0;
  transition: transform 1s ease;
  transform-origin: center center;
}
.photo-card img {
  width: 100%;
  height: 210px;
}

.photo-card {
  width: 280px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  box-shadow: 1px 5px 5px 0px rgb(192, 191, 191);
}

.photo-card:hover {
  transform: scale(1.1);
}

input {
  height: 40px;
  width: 200px;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 24px;
  padding-left: 10px;
  padding-bottom: 0;
  padding-top: 5px;
}

input:hover,
input:focus {
  outline: none;
}

input::placeholder {
  font-size: 18px;

  opacity: 70%;
}

 .search-form {
  display: flex;
  /* height: 100%; */
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  /* overflow: hidden; */
  width: 120px;
  height: 120px;
  /* border-radius: 50px; */
  /* box-sizing: border-box; */
  color: black;
  outline: none;
  /* transition: 0.5s; */
  /* box-shadow: 0 0 16px #302c5a; */
} 

.search-form:hover,
.search-form:focus {
  /* width: 360px; */
  /* background-color: #302c5a; */
  border-radius: 4px;
}

 .search-btn {
  height: 85px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #418ba6;
  border-width: 0;
  outline: none;
} 

.search-btn:hover {
  background-color: #3cc0be;
  cursor: pointer;
}

 .info {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

 .info-item {
  text-align: center;
}

.hidden {
  display: none;
}

 img {
  width: 380px;
  height: 240px;
  object-fit: cover;
  transition: all 0.5s ease;
} 

 #btnTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 999;
  border: none;
  outline: none;
  color: #302c5a;

  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 36px;
  opacity: 70%;
  box-shadow: 0 0 16px #06022d;
} 

#btnTop:hover {
  background-color: #08052f;
}

 #loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 3px solid #09f156;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
} 

/* @keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
} */

/* .visible {
  display: block;
} */

/* .captions-style {
  text-align: right;
} */
